.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgb(194, 222, 231);
    width:25%; 
  }
  .left-container{
    display: flex;
    flex-direction: column;
  }
  .right {
    right: 0;
    background-color: rgb(247, 244, 244);
    width:75%
  }
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 120px;
    border-radius: 50%;
  }
  .centered h2{
    width: 20rem;
    font-size: 1rem;
    padding: 1rem 0;
  }
  .centered p{
    width: 10rem;
    font-size: .8rem;
   margin-left: 5rem;
  }
  .image-checkup img{
    position: relative;
    width: 500px;
    height: 320px;
    margin-top: 15rem;
    margin-left: 0rem;
  }
  .header-right{
    padding: 2rem;
  }
  .header-right h2{
    margin-bottom: 10px;
  }
  .daily-quiz{
    padding: 2rem;
    margin-top: -2rem;
  }
  .activities{
    margin-top: -2rem;
    padding: 2rem;
  }
  .activities-content{
    display: flex;
    justify-content: space-evenly ;
  }
  .dropdown select{
    border: 3px solid rgb(152, 200, 9);
    height: 30px;
    width: 120px;
    border-radius: 10px;
  }
  .progress{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bar{
    margin-left: 1rem;
  }
  .daily-progress{
    margin-top: 2rem;
    width: 350px;
    height: 350px;
    position: relative;
    background: rgba($color: #97b5e6, $alpha: 1.0);
    border-radius: 10px;
  }
  .progress-head{
    padding: 2rem;
  }
  .progress-head h2{
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
  }
  .progress-head p{
    font-size: .8rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .indicator{
    margin-top: -7rem;
  }
  
