@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cairo&display=swap');
body{
  background-image: url("https://images.unsplash.com/photo-1602677416425-c84311bd217c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}
.Head{
  color:rgb(255, 255, 75);
  font-size: 4rem;
  font-weight: 400;
  /* font-family: 'Aclonica', sans-serif; */
  font-family: 'Cairo', sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.video-carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:5rem;
 

}
.arrow1{
  background-color: rgb(227, 107, 16);
  border: none;
  cursor: pointer;
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  padding: 0.25rem;
  font-size: 1.5rem;
}
.video-wrapper{
  height: 30rem;
  width: 100rem;

}
