@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Tilt+Prism&display=swap');
.App{
  background-image: url("https://images.unsplash.com/photo-1628771065518-0d82f1938462?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}
.App {
  text-align: center;
}
.Head2{
  font-size: 2.5rem;
  font-weight: 800;
  font-family: 'Source Code Pro', monospace;
  color: rgb(73, 52, 0);
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.Head3{
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Cairo', sans-serif;
  /* font-family: 'Tilt Prism', cursive; */
  
  color: rgb(0, 0, 0);
}
.Head5{
  font-size: 2.5rem;
  font-weight: 800;
  font-family: 'Source Code Pro', monospace;
  color: rgb(73, 52, 0);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  align-items: center;
}
.question-card {
  display: flex;
  flex-direction: row;
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 60%; /* Can be in percentage also. */
  height: auto;
  /* padding-top: 4rem; */

  /* Visual  */
  background-color: rgb(11, 91, 210);
  padding: 26px;
  border-radius: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    justify-content: center;
    align-items: center;
}

.Ques{
  list-style: none;
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Cairo', sans-serif;
  color: rgb(255, 255, 255);
} 
.C1{
  list-style: none;
}
.C2{
  list-style:none;
}
.C3{
  list-style: none;
}
.Contact2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Options {

  margin-top: 8px;
  background-color: rgb(42, 188, 255);
  padding: 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 20px;
  width:30rem;
}
.Ques-Ans{
  display: flex;
  flex-direction: column;
}
.question-text {
  color: rgb(16, 0, 54);
  font-size: 1.5rem;
  font-family: 'Cairo', sans-serif;
  margin-top: 0.25rem;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: rgb(242, 177, 11);
  padding: 16px;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: rgb(45, 126, 247); /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}

.circle-wrap {
  margin: 15px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}